.students_item {
    display: flex;
    align-items: center;
    width: 100%;
    max-height: 50px;
    border: 1px solid #4682A9;
    border-radius: 5px;
    background-color: #fff;
}

.students_item img {
    max-width: 50%;
    max-height: 50%;
}

.students_name {
    display: flex;
    align-items: center;
    width: 300px;
    height: 100%;
    font-size: 20px;
    margin-left: 10px;
}

.students_age {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100%;
    margin-right: 200px;
}

.students_trash-tbn,
.students_edit-btn {
    width: 50px;
    height: 100%;
    object-fit: cover;
    background-color: transparent;
    border: none;
}